@charset "utf-8";


/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500&display=swap');
*/


/* reset */
* {margin:0; padding:0; box-sizing:border-box;}

body {
	letter-spacing: 0.5px;
	font-family: 'NotoSansKR', 'Raleway', sans-serif;
}

ul,ol,li {list-style:none;}
button {border:none; background-color:transparent; cursor:pointer; outline:0; vertical-align:middle;}

/* layout */
section {position:relative; background:#fff; z-index:10;}
.container {max-width:1000px; margin:0 auto; padding:25px; height:1000px}
article {display:flex; padding:50px 0;}
article:first-child {padding:0 0 50px;}
.hide {display:none!important;}


/* font setting */
html { font-size:10px;}



@font-face {
	font-family: 'NotoSansKR';
	src: url('NotoSansKR-Bold.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	unicode-range: U+AC00-D7AF;
}


@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.woff') format('woff');
	font-style: normal;
	font-weight: normal;
	unicode-range: U+4E00–9FBF, U+3040–309F, U+30A0–30FF;
}



/*
@font-face {
	font-family: 'NotoSansKR';
	src: url(..//fonts/NotoSansKR/NotoSansKR-Light) format('woff');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Light.ttf) format('truetype');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Medium) format('woff');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Bold) format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'NotoSansKR';
	src: url(..//fonts/NotoSansKR/NotoSansKR-Light) format('woff');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Light.ttf) format('truetype');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Medium) format('woff');
	src: url(..//fonts/NotoSansKR/NotoSansKR-Bold) format('woff');
	unicode-range: U+AC00-D7A3;
}


@font-face {
	font-family: 'Raleway';
	src: url(..//fonts/Raleway/Raleway-Light) format('woff');
	src: url(..//fonts/Raleway/Raleway-Regular) format('woff');
	src: url(..//fonts/Raleway/Raleway-Medium) format('woff');	
	src: url(..//fonts/Raleway/Raleway-Bold) format('woff');
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
*/




/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	margin-bottom: -4px;
}*/