@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;700&display=swap");

html {width: 100%; height: 100%;}

body {
    height: 100%;
    /*background: #1e1e1e;*/
    -webkit-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

p, li, dt, dd, span, div, a {
    color: #222;
    font-family: 'Jal_Haru', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

/* font setting */








/* work tit font 
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;800&display=swap');

@font-face{
    font-family: 'Caveat Brush', cursive;
}

@font-face{
    font-family: 'Radio Canada', sans-serif;
    
    unicode-range: U+0041-005A;
    unicode-range: U+0061-007A;
}


@font-face {
    font-family: 'Jal_Haru';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');


/*
:root {
    --text_color: #fff;
    --dark_red: rgb(205, 0, 0);
    --grey: #777;
    --light_grey: #eee;
    --light_red: rgb(255, 68, 68);
    --active_icon_color: white;
    --button_shadow: rgba(0, 0, 0, .1);
    --inactive_icon_color: #999;
    --level_animation_color: #dbdbdb;
    --listening_icon_color: var(--light_red);
    --text_link_color: rgb(17, 85, 204);
}


한글 범위:  U+AC00-D7A3
영어 대문자 범위 :  U+0041-005A
영어 소문자 범위 :   U+0061-007A
숫자 범위 : U+0030-0039
특수 문자: U+0020-002F, U+003A-0040, U+005B-0060, U+007B-007E
https://wazacs.tistory.com/48


*/